
# Databases Environment
MONGODB_URI=
MONGO_DB_CERT=
MONGODB=jikopoint

# NextJS Environment
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_IMAGE_DOMAINS=res.cloudinary.com, cms.jikopoint.co.tz

# Subscription Environment
NEXT_PUBLIC_MAILCHIMP_U=1ac20269fc7bdb3726fcc5b32
NEXT_PUBLIC_MAILCHIMP_ID=ee321da8c2

# Cloudinary host media (images and videos)
CLOUDINARY_URL=

# Next Authentication Environment
NEXTAUTH_URL=
SECRET=
JWT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
TWITTER_ID=
TWITTER_SECRET=

# Wordpress Headless CMS Environment
WORDPRESS_URL=
WORDPRESS_PREVIEW_SECRET=

# Email SMPT Server Environments
SMTP_SERVER=
EMAIL_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=